<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/../css/styles.css'>
    <title>Registrarinator search results</title>
  </head>
  <body>
    <div class='container'>

      <!-- PAGE BANNER -->
      <div class='page-header'>
        <img src='/img/fakeu.png' alt='university logo'>
        <div class='logo-words'>
          <h1>Registrarinator</h1>
          <h5>sweet regist-rawr-ing</h5>
        </div>
      </div>

      {% if results is not empty %}
        <h3>Search results</h3>

        {% for i in 0..results|length - 1 %}
          <ul>
            <li>
              <form action='/students/{{ results[i].getId }}' method='post' class='inlineForm'>
                <input name='_method' type='hidden' value='delete'>
                <input type='submit' class='deleteLink' value='x'>
              </form>
              {{ search_term }}, enrolled in
              {{ results_courses[i]|length > 1 ? 'courses' : 'course' }}
              {% for j in 0..results_courses[i]|length - 1 %}
                [{{ results_courses[i][j].getName }}]
              {% endfor %}
              on {{ results[i].getEnrollmentDate }}
            </li>
          </ul>
        {% endfor %}
      {% else %}
        <h1>No results! =(</h1>
      {% endif %}

      <a href='/'>Home</a>
    </div>
  </body>
</html>
